html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    font-family: "Poppins", sans-serif;
    line-height: 1, 4;
    margin: 0 auto;
    padding: 10px;
    background-image: url("../images/tapetajasna.jpg");
    width: 1000px;
}

.dark {
    margin: 0 auto;
    color: white;
    font-family: "Poppins", sans-serif;
    line-height: 1, 4;
    background-image: url("../images/tapetaciemna.jpg");
    width: 1000px;
}
