.header {
    text-align: center;
    color: rgba(3, 3, 26, 0.801);
    background-color: #ccc;
    font-size: 20px;
    font-style: Normal;
    text-shadow: 5px 5px rgb(155, 154, 154);
    border-width: 10px;
    outline-style: ridge;
    outline: 10px groove lightblue;
}

.navigation {
    text-align: center;
    list-style-position: inside;
}

.navigation__list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: "👉";
}

.navigation__item {
    margin: 10px;
}

.navigation__link {
    text-decoration: none;
    background-color: #ccc;
    border-radius: 10px;
    border-width: 15px;
    padding: 5px;
    line-height: 2.5;
}

.navigation__link:hover {
    color: red;
}

.navigation__link:active {
    color: rgb(162, 162, 235);
}